body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color:#153448;
  color: #fff;
  padding: 1rem 0;
}

header .logo {
  display: inline-block;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-left: 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}